# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/
out/
build/

# NuGet packages
*.nupkg
packages/
*.snupkg

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Publish
*.pubxml
*.publish.xml

# Windows Installer files
*.msi
*.exe

# Others
*.log
*.tlog
*.cache
*.pdb

# Robotik / Vision spezifisch
*.pcd
*.ply
*.xyz
*.bin
# Falls du Aufnahmen speicherst:
/Recordings/
/Snapshots/

# Local history
.history/

# Visual Studio Code
.vscode/